.weui_tab_bd2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;  
  top: 0;
  left: 0;
  position: absolute;
  height: 85%;
  width: 100%;
  overflow: auto;  
  -webkit-overflow-scrolling: touch;
}

.weui_tab_bd2_item2 {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;  
}

.weui_cells2 {
	overflow: auto;  
}


.order_item ul li {
  display:inline-block;
  border : solid 1px ;
  margin : 10px 1px 10px 2px;
}

.order_item ul li .li_cell {
  display:inline-block;
}

.list_cell_left {
  //border : solid 2px red;
  float: left;
  width : 25%;
  height : 100%;
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.list_cell_right {
  //border : solid 2px green;
  float: right;
  width: 73%;
}

.footer {
  clear : both;
  font-size : 2em;
  align-content: right;
}

.order_item ul li:hover {
    border : solid 1px ;
    background-color:#f9efdf; 
¬
}

.order_item .label {
  font-size: 0.7em;
}

.order_item .title {
  font-size: 1.2em;
  text-align:center;
}

#ol_start_point{
  font-size : 1.5em;
  color : red;
}

#ol_destination{
  font-size : 1.5em;
  color : red;
}

#ol_start_time{
  font-size : 1.5em;
  color : red;
}

#order_type_choose{
  font-size:3em;
}

.tel_people{
  float : right;
}